@import "tailwindcss";

:root {
  --background: #ededed;
  --foreground: #000000;
  --primary: #d41616;
  --secondary: #475569;
  --accent: #D4AF37;
  --surface: #F8FAFC;
  --border: #E2E8F0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-surface: var(--surface);
  --color-border: var(--border);
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {  /* Only apply if no manual theme set */
    --background: #000000;
    --foreground: #ededed;
    --primary: #B01212;
    --secondary: #94A3B8;
    --accent: #D4AF37;
    --surface: #121212;
    --border: #27272a;
  }
}

/* Add this for manual override */
[data-theme="dark"] {
  --background: #000000;
  --foreground: #ededed;
  --primary: #B01212;
  --secondary: #94A3B8;
  --accent: #D4AF37;
  --surface: #121212;
  --border: #27272a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
